body, html {
	//height:100%;
	-webkit-font-smoothing: antialiased;
  overflow-y: hidden;
  @include break(mobile){
    overflow-y: visible;
  }
}

body {
  overflow-x: hidden;
  @include border-all;
  &:after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 100%;
    @include border-all;
    pointer-events: none;
    z-index: 9999;
  }
}

.ui-page {
  overflow-y: scroll;
  height: 100vh;
  @include break(mobile){
    overflow-y: visible;
    height: auto;
  }
  &::-webkit-scrollbar {
      display: none;
  }
}


*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.ui-loader {
  display: none !important;
}