.event-tags {
  margin-bottom: 1em;
  li {
    display: inline-block;
    &:last-child {
      span {
        display: none;
      }
    }
  }
}

.event-image {
  @include flexbox;
  @include align-items(center);
  margin-bottom: 1em;
  text-align: center;
  
  @include break(mobile){
    @include flex-direction(column);
    @include align-items(flex-start);
    text-align: left;
  }
  
  h4 {
    @include break(mobile){
      margin-top: 1em;
    }
  }
  
  figure, h4 {
    width: 50%;
  }
  figure {
    img {
      width: 100%;
      margin: 0;
    }
  }
}

.event + .event {
  margin-top: 1em;
}